/* Code tidied up by ScrapBook */
#catapult-cookie-bar { box-sizing: border-box; max-height: 0px; opacity: 0; direction: ltr; padding: 0px 20px; z-index: 99999; overflow: hidden; text-align: left; transition: all 0.25s ease 0s; }
.has-cookie-bar #catapult-cookie-bar { opacity: 1; max-height: 999px; min-height: 30px; padding: 15px 20px; }
button#catapultCookie { cursor: pointer; margin: 0px 20px 0px 0px; }
.cookie-bar-bar button#catapultCookie { margin: 0px 0px 0px 20px; }
.cookie-bar-bar .ctcc-inner { display: flex; align-items: center; justify-content: center; position: relative; }
@media screen and (max-width: 991px) {
  .ctcc-left-side { margin-right: 1em; }
}
.ctcc-right-side { flex-shrink: 0; }
